<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a
                routerLink="/"
                class="navbar-brand"
            >
                Recipe Book
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 form--search active">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn--icon my-2 my-sm-0" type="submit">
                    <svg-icon src="../../assets/search.svg" [svgStyle]="{ 'width.px': 24, 'fill': '#c29f48', 'height.px': 24, 'cursor': 'pointer', 'background-color':'#fff' }"></svg-icon>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a
                        style="cursor: pointer;"
                        (click)="onLogout()"
                    >
                        Logout
                    </a>
                </li>
                <li
                    *ngIf="!isAuthenticated"
                    (click)="loginModalHandler(modalParams.Login)"
                >
                    <button class="nav--text-option">Login</button>
                </li>
                <li
                    *ngIf="!isAuthenticated"
                    (click)="loginModalHandler(modalParams.Register)"
                >
                    <button class="nav--text-option">Register</button>
                </li>
                <li
                    class="dropdown"
                    appDropdown
                    *ngIf="isAuthenticated"
                >
                    <a
                        style="cursor: pointer;"
                        class="dropdown-toggle"
                        role="button"
                    >
                        Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngIf="isAuthenticated">
                            <a
                                style="cursor: pointer;"
                                (click)="onSaveData()"
                            >
                                Save Data
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-auth
    *ngIf="showLoginModal && !isAuthenticated"
    [isLoginMode]="isLoginMode"
    (clickedOutside)="onClickOutside()"
></app-auth>
