.nav {
    &.navbar-nav {
        margin-left: 140px;
        a {
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
    }

    &--text-option {
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0;
        padding: 15px;
        color: #777;
        &:hover,
        &:active {
            color: #333;
        }
    }
}

nav.navbar {
    margin-top: 60px;
    a {
        color: #c29f48;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 28px;

        &.nabar-brand {
            font-size: 32px;
        }
    }
}

.collapse.navbar-collapse {
    .form--search {
        padding-top: 10px;

        input {
            display: none;
            max-width: 200px;
            padding-right: 32px;
            &:focus {
                border-color: #ccc;
                box-shadow: initial;
            }
        }

        &.active {
            display: inline-block;

            input {
                display: inherit;
            }

            .btn--icon {
                margin-left: -32px;
            }
        }

        .btn {
            &--icon {
                padding: 0;
                margin: 0;
                width:24px;
                height:24px;
                background-color: transparent;
                box-shadow: none;
            }
        }
    }
}

.navbar-right {
    position: absolute;
    right: 20px;
    top: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    button {
        color: #c29f48;
    }
}


