<ng-template appPlaceholder ></ng-template>
<div class="center-block text-center">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
<div
    class="overlay"
    (click)="onClickOutside($event)"
></div>
<div
    class="row auth--modal"
    [ngClass]="{'auth--modal--login': isLoginMode}"
>
    <button
        class="button--close"
        (click)="onClickOutside()"
    >
        X
    </button>
    <app-form-box
        [options]="formBoxes.login"
        [formControlNameValue]="formBoxes.login.field"
        [formGroup]="form"
        [formSubmitted]="formSubmitted"
        (onInputChange)="onInputChange($event)">
    </app-form-box>
    <app-form-box
        [options]="formBoxes.password0"
        [formControlNameValue]="formBoxes.password0.field"
        [formGroup]="form"
        [formSubmitted]="formSubmitted"
        (onInputChange)="onInputChange($event)">
    </app-form-box>
    <app-form-box
        *ngIf="!isLoginMode"
        [options]="formBoxes.password1"
        [formControlNameValue]="formBoxes.password1.field"
        [formGroup]="form"
        [formSubmitted]="formSubmitted"
        (onInputChange)="onInputChange($event)">
    </app-form-box>
    <div
        class="auth--modal__password--error"
        *ngIf="passwordError && !isLoginMode"
    >
        <p>
           Passwords, are not the same!
        </p>
    </div>
    <div class="btn-toolbar">
        <button
            class="btn btn-primary"
            type="submit"
            (click)="onSubmit()"
            [disabled]="!form.valid || passwordError"
        >
                {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        <button
            class="btn btn-primary"
            type="button"
            (click)="onClickOutside()"
        >
            Cancel
        </button>
    </div>
</div>