/* You can add global styles to this file, and also import other style files */
*, input, select, textarea, option, button {
    outline: none!important;
}


body {
    background-color: #fdefe5;
}


/* font-family: 'Arvo', serif;
 font-family: 'Montserrat', sans-serif; */